


.container {
  width: 100%;

  background-color: var(--white-color);
  border: 2px solid var(--faq-box-border-color);
  padding: 1.8rem;
  border-radius: 1rem;
}


.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

}

.icon {
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-purple-color);
  font-size: 1.2rem;
}




.question.active > .icon {
  transform: rotateZ(180deg);
}

.answer {
  border-top: 1px solid var(--faq-box-border-color);
  padding-top: 1.8rem;
  margin-top: 1.5rem;
  display: none;
  font-weight: 400;
}

.answer > p, .answer > p > ol{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.answer > p > ol {
  padding-left: 1rem;

}

.answer.active {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

}



