:root {

  /* Global Variables */
  --black-color: #000;
  --white-color: #fff;
  --dark-blue-color: #355674;
  --light-blue-color: #D7E6EC;
  --dark-purple-color: #6B5879;
  --purple-color: #9478A7;
  --light-purple-color: #C1ADCE;
  --purple-transprant: #C1ADCE93;
  --black-transprant: #00000036;
  --light-black-transprant: #00000029;

  /* Component Specific Variables */
  --box-color: #fff;
  --faq-box-border-color: #BCBCBC;
}

@media (prefers-color-scheme: dark) {

  :root {
    
    /* Global Variables */
    --main-color: #333;


    /* Component Specific Variables */
    --box-color: rgb(235, 235, 160);

  }

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--white-color);
  color: var(--dark-blue-color);

}


a {
  color: inherit;
  text-decoration: underline;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
