@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.container {
  width: 100%;
  padding: 3rem 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--light-blue-color);
}

.wrapper {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;

  max-width: 20rem;
  margin-bottom: 1rem;
  font-family: "Square Peg", cursive;
}

.text > p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  max-width: 20rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  color: var(--white-color);
  background-color: var(--dark-blue-color);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.3rem var(--gray-transparent-color);
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--dark-pink-color);
}